.issuedByDoctor {
  background-color: #ebfaf9;
  color: #0abab5;
}

.issued {
  background-color: rgba(32, 151, 246, 0.08);
  color: #2097f6;
}

.declined {
  background-color: #f8fafb;
  color: #8e93aa;
}

.expired {
  background-color: rgba(255, 78, 78, 0.08);
  color: #ff4e4e;
}
