/* stylelint-disable scss/at-rule-no-unknown */
@import url("/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: var(--tw-color-bg-grey);
  font-family: "Golos", sans-serif !important;
}

input {
  outline: none;
}

.select__menu-list::-webkit-scrollbar {
  width: 4px;
}
.select__menu-list::-webkit-scrollbar-track {
  background-color: #e7eaf0;
  border-radius: 100px;
  margin-right: 10px;
  /* margin: 16px 16px 0 0; */
}

.select__menu-list::-webkit-scrollbar-thumb {
  background: #8e93aa;
  border-radius: 100px;
}
.datepicker {
  width: 100%;

  box-sizing: border-box;
}
.datepicker input {
  background-color: red;
  width: 100%;
  height: 46px;
  padding: 0 16px;
  background-color: transparent;
  caret-color: #0abab5;
  font-size: 16px;
  color: #393d4e;
  border: none;
}
.datepicker input::placeholder {
  font-size: 16px;
  color: #393d4e;
}

.datepicker .react-datepicker__input-container {
  border: 1px solid #e7eaf0;
  border-radius: 7px;
  background-color: #f8fafb;
  transition: all 0.2s ease-in;
}
.datepicker .react-datepicker__input-container:hover,
.react-datepicker__input-container:focus,
.react-datepicker__input-container:active,
.react-datepicker__input-container:focus-within {
  transition: all 0.2s ease-in;
  border-color: #0abab5;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 50% !important;
  border: 1px solid #0abab5;
  background-color: white;
}

.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  border-radius: 50% !important;
}

.react-datepicker-popper .react-datepicker {
  border: none;
  border-radius: 19px;
  box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.07);
  font-family: "Golos", sans-serif !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  border-radius: 50% !important;
  color: white !important;
  background-color: #0abab5 !important;
  border: 1px solid transparent;
  width: 30px;
  height: 30px;
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  width: 30px !important;
  height: 30px !important;
}

.react-datepicker-popper
  .react-datepicker
  .react-datepicker__month-container
  .react-datepicker__month {
  margin: 24px;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.react-datepicker__day-names,
.react-datepicker__week {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 20px;
  /* padding: 12px 0; */
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  margin: 0 !important;
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  font-weight: normal !important;
}
.react-datepicker__day--today:hover,
.react-datepicker__month-text--today:hover,
.react-datepicker__quarter-text--today:hover,
.react-datepicker__year-text--today:hover {
  background-color: #0abab5 !important;
  color: white !important;
}

.react-datepicker-popper
  .react-datepicker
  .react-datepicker__month-container
  .react-datepicker__month {
  font-size: 16px;
  color: #393d4e;
}

.react-datepicker__header {
  background-color: transparent !important;
  padding: 0 !important;
  /* padding: 24px 24px 0 24px; */
}
.react-datepicker__header--custom {
  margin-top: 0;
  /* margin-bottom: 12px !important; */
}

.react-datepicker__header > div:first-child {
  padding: 24px 24px 12px;
  margin: 0 !important;
  display: flex;
  flex-direction: row-reverse !important;
  align-items: center;
  justify-content: space-between !important;
}

.react-datepicker__header select {
  color: #393d4e;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  outline: none !important;
}

.react-datepicker__header--custom > select option {
  background: red !important;
}

.react-datepicker__header--custom button {
  display: none;
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker__tab-loop {
  position: absolute !important;
  top: 0 !important;
}

.react-datepicker-popper {
  padding: 0 !important;
}

.react-datepicker__day-names {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  padding: 12px 0;
  margin: 0 24px;
  border-top: 1px solid #e7eaf0 !important;
}

.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
  border: 0 !important;
}

.react-datepicker__day--selected {
  background-color: #0abab5 !important;
  color: white;
}

.react-datepicker__day-name {
  color: #8e93aa !important;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #e7eaf0;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background: #8e93aa;
  border-radius: 100px;
}
